/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Body */
body {
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Container */
div {
  text-align: center;
  padding: 20px;
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Header */
h1 {
  color: #5e60ce;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Input field */
input[type='number'] {
  padding: 10px;
  font-size: 1rem;
  width: 80px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin-bottom: 20px;
  outline: none;
  transition: all 0.3s ease;
}

input[type='number']:focus {
  border-color: #5e60ce;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #5e60ce;
  color: #fff;
}

td {
  background-color: #fafafa;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Input field in the table */
input[type='text'] {
  padding: 10px;
  width: 80%;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}

input[type='text']:focus {
  border-color: #5e60ce;
}

/* Buttons */
button {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

/* Start Button */
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:enabled {
  background-color: #5e60ce;
  color: #fff;
}

/* Start button */
button {
  background-color: #5e60ce;
  color: white;
}

button.stop {
  background-color: #ff595e;
}

button.reset {
  background-color: #f2cc8f;
}

/* Responsive design */
@media (max-width: 768px) {
  table {
    font-size: 0.9rem;
  }

  input[type='number'],
  input[type='text'] {
    width: 100%;
  }

  button {
    width: 100%;
    margin: 5px 0;
  }
}
